@charset "UTF-8";
@font-face {
    font-family: 'Android';
    src: url('../fontes/._idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #84E1AD;
    font: 20px normal Arial;
}

header {
    background-image: linear-gradient(to top, #288E55, #3CD782);
    color: white;
}

#cabecalho{
    text-align: center;
}

#subtitulo {
    text-align: center;
}

nav > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    text-indent: 20pt;
    margin: 50pt;
}

.midia {
    margin: auto;
    display: block;
}

.titulo_central {
    font-family: 'Android';
    color: #346F4F;
}
.titulos {
    font-family: 'Android';
    color: #346F4F;
    background-image: linear-gradient(to right, #83e9b1, white);
}

.video {
    background-color: #025c29;
    
}

.teste1 {
    background-color: #83e9b1;
}

.teste2 {
    background-color: #025c29;
}

.artigo_final {
    background-color: #C5EBD6;
}

.titulo_artigo_final {
    background-color: #2FA866;
}
