@charset "UTF-8";

/*CSS da página home*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;

}

header {
    background-color: white;
    padding: 10px;
    margin: 20px


}

nav {
    background-color: rgb(102, 102, 102);
    text-align: left;
    padding: 5px;
    margin: 5px;
}

nav > a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-weight: bold;

}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 20px 5px 5px 5px;
    margin: 5px;
}

#conteudo_home {
    background-color: #A9A9A9;
    padding: 10px;
    margin: 10px;
}

#conteudo_principal {
   text-align: center;
}

#assunto {
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}

footer > p {
    margin: 0%;
}

/*CSS Nintendo*/

#body_nintendo {
    background-color: #f87959;
}

#main_nintendo {
    background-image: /* Gradient in Hex */
    linear-gradient(to right, #e75036 0%, 23.101719197707737%, #c91212 46.203438395415475%, 73.10171919770774%, #a70813d8 100%);
}

/*CSS PlayStation*/

#body_play {
    background-color: #8DE0F2;
}

#main_play {
    background-image: linear-gradient(to right, #07FEFD 0%, 45.29370134465675%, #954DEF 100%);
}

/*CSS Xbox*/

#body_xbox {
    background-color: #214e3f;
}

#main_xbox {
    background-image:linear-gradient(to right, #013624 0%, 29.1189111747851%, #00A36D 58.2378223495702%, 79.1189111747851%, #37B839 100%);
}



